body {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    height: 100vh;
    background-color: #0b0219;
    color: #fff;
    padding: 0;
    margin: 0;

    background: linear-gradient(270deg, #0b0219, #0d0122);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
}

iframe {
    aspect-ratio: 600 / 450;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

b {
    font-weight: bold;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

.logo {
    width: 450px;
    max-width: 100%;
}

nav {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    color: inherit;
    transition: transform 200ms;
}

.content {
    max-width: 680px;
    padding: 20px;
    text-align: left;
}

a:hover, a:focus, a:active {
    transform: scale(1.1);
}

footer {
    margin-top: 60px;
    padding-bottom: 60px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}